* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #5d54a4, #7a5195);
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.app-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.app-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.app-item p {
    font-size: 14px;
    color: #333;

}

.add-new-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.add-more-btn {
    background-color:steelblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
